<html>
<head>
    <title>{{ view.params.title }}</title>
</head>
<body>
    <h1>{{ view.params.title }}</h1>
    <h2>{{ view.action }}</h2>
    {% for row in view.rows %}
    <div class="row">
        {% for column in row %}
        <div class="column">{{ column.name }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>