""" {{ blueprint.name }} module. """
from flask import Blueprint, render_template

{{ blueprint.name_snake }} = Blueprint('{{ blueprint.name_snake }}', __name__)


{% for view in blueprint.views %}
{# define view function #}
@{{ blueprint.name_snake }}.route('/{{ view.name }}')
def {{ view.name_snake }}():
    """ {{ view.params.title }}. """
    pass


{# define post function in form #}
{% if view.action == 'form' %}
@{{ blueprint.name_snake }}.route('/{{ view.name }}_create', methods=['POST'])
def {{ view.name_snake }}_create():
    """ Post {{ view.params.title }}. """
    pass
{% endif %}
{% endfor %}