<div class="form-group" name="{{ field_name }}">
    <label>{{ field_schema.title }}</label>
    <textarea name="{{ field_name }}" rows="5"
              class="form-control" {{ 'required' if field_schema.required }}>{{ '{{' }} {{ field_path }} or '' {{ '}}' }}</textarea>
</div>