{% macro render_schema(name, schema, parent='', is_in_list=false, includes=[]) %}
{% set path = parent + '.' + name if parent else name %}
{% if schema.type == 'object' +%}
    <fieldset class="object {{ 'mb-0' if is_in_list }}" name="{{ name }}">
    {% if parent and not is_in_list %}
        {# Inner level fields should define parent variable, so their sub fields\'s path can be access #}
        {{ '{%' }} set {{ name }} = {{ parent }}.{{ name }} {{ '%}' }}
    {% endif %}
    {% if includes %}
        {% for row in includes %}
        <div class="row">
            <div class="col">
            {{ render_schema(row, schema.properties[row], name)|indent(16) }}
            </div>
        </div>
        {% endfor %}
    {% else %}
    {% for row in schema.layout %}
    {% if row|length == 1 and row[0] == '-' %}
        <hr class="mt-4 mb-5">
    {% else %}
        <div class="row">
            {% for col in row %}
            <div class="col">
            {{ render_schema(col, schema.properties[col], name)|indent(16) }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </fieldset>
{% elif schema.type == 'array' %}
{% if schema['items'].format in ['select', 'image', 'file'] %}
    {% set field_name = name %}
    {% set field_schema = schema %}
    {% set field_path = path %}
    {% include '#field_'+ field_schema['items'].format + '.html.jinja2' %}
{% elif schema['items'].format == 'table' %}
    TODO: table
{% elif schema['items'].format == 'tab' %}
    TODO: tab
{% elif schema['items'].format == 'card' %}
    TODO: card
{% else %}
    <fieldset class="array {{ 'mb-0' if is_in_list }}" name="{{ name }}">
        <div class="list-group list-group-flush">
            {{ '{%' }} for e in {{ path }} {{ '%}' }}
            <div class="list-group-item">
                {{ render('{{ loop.index0 }}', schema['items'], 'e', is_in_list=true) }}
            </div>
            {{ '{%' }} endfor {{ '%}' }}
            <div class="list-group-item template"> {# Template form for adding elements to array #}
                {{ render('-', schema['items'], name, is_in_list=true) }}
            </div>
        </div>
    </fieldset>
{% endif %}
{% else %}
    {% set field_name = name %}
    {% set field_schema = schema %}
    {% set field_path = path %}
    {% include '#field_'+ field_schema.format + '.html.jinja2' %}
{% endif %}
{% endmacro %}
<form id="{{ model.name_kebab }}-form" class="form-editor needs-validation" novalidate method="post">
{{- render_schema(model.name_lower, model.schema, includes=model_includes) -}}
</form>
