<div class="form-group" name="{{ field_path }}">
    <label>{{ field_schema.title }}</label>
    <input name="{{ field_path }}" type="string" class="form-control datetime" {{ 'required' if field_schema.required }}
           value="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}">
</div>