<form novalidate>
    <div class="form-row justify-content-center">
        {% for f in model.schema.searchables %}
            {# Do not support nested field, and f may contains comparator #}
            {% set rf =  f %}
            {% if '__' in rf %}
                {% set rf = f|split('__') %}
                {% set rf = rf[0] %}
            {% endif %}
            {% set fs = model.schema.properties[rf] %}
            {% set path = 'search.' + f %}
            {% set rv = search[f] %}
            <div class="col-auto mb-1">
                <label class="sr-only">{{ fs.title }}</label>
                {% if fs.enum %}
                    <select class="form-control " name="{{ path }}">
                        <option value="">Choose...</option>
                        {% for value, label in fs.enum_titles|items %}
                            <option value="{{ value }}" {{ '{{' }} 'selected' if {{ value|quote }}=={{ rv }} {{ '}}' }}>
                            {{ label }}</option>
                        {% endfor %}
                    </select>
                {% elif fs.type == 'boolean' %}
                    <select class="form-control" name="{{ path }}">
                        <option value="">Choose...</option>
                        <option value="true"
                        {{ '{{' }} 'selected' if {{ value|quote }}==true {{ '}}' }}>True</option>
                        <option value="false"
                        {{ '{{' }} 'selected' if {{ value|quote }}==false {{ '}}' }}>False</option>
                    </select>
                {% elif fs.type in ['integer', 'number'] %}
                    <input type="text" class="form-control" style="'width:100px"
                           value="{{ '{{' }} {{ path }} if {{ path }} is not none {{ '}}' }}"
                           name="{{ path }}">
                {% else %}
                    <input type="text" class="form-control"
                           value="{{ '{{' }} {{ path }} or '' {{ '}}' }}"
                           name="{{ path }}">
                {% endif %}
            </div>
        {% endfor %}
        <div class="col-auto mb-1">
            <button type="button" class="btn btn-primary btn-default" onclick="search_do($(this));">Search
            </button>
            <button type="button" class="btn btn-light btn-default" onclick="search_reset();">Reset</button>
        </div>
    </div>
</form>
<hr>
<table class="table table-responsive">
    <thead class="thead-light">
    {% set columns = model.schema.columns %}
    <tr>
        {% for f in columns %}
            {% set fs = model.schema.properties[f] %}
            <th>{{ fs.title }}</th>
        {% endfor %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ '{%' }} for {{ model.name_snake }} in {{ model.name_snake_plural }} {{ '%}' }}
    <tr>
        {% for f in columns %}
            <td>{{ '{{' }} {{ model.name_snake }}.{{ f }} {{ '}}' }}</td>
        {% endfor %}
        <td>
        </td>
    </tr>
    {{ '{%' }} else {{ '%}' }}
    <tr>
        <td colspan="{{ 1+columns|length }}" class="px-0">
            <div class="alert alert-warning">Can not find any {{ model.name }}!</div>
        </td>
    </tr>
    {{ '{%' }} endfor {{ '%}' }}
    </tbody>
</table>
{% raw %}
{% if pagination.pages > 0 %}
    <div>
        <ul class="pagination">
            {% if pagination.prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ update_query(p=pagination.prev) }}">Previous</a>
                </li>
            {% endif %}
            {% for page in pagination.iter_pages %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ update_query(p=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active">
                            <a class="page-link" href="javascript:;">{{ page }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item"><a class="page-link" href="javascript:;">...</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if pagination.next %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ update_query(p=pagination.next) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endraw %}