<div class="form-group" name="{{ field_path }}">
    <label>{{ field_schema.title }}</label>
    {% if field_schema.type == 'array' %} {# array of string/object #}
        {% set hiddens = field_schema['items'].properties|keys if field_schemaz['items'].type == 'object' else ['url'] %}
    {% elif field_schema.type == 'string' %} {# string #}
        {% set hiddens = ['url'] %}
    {% endif %}
    <div class="plupload-input-group file-input-group" {{ 'required' if field_schema.required }}>
        <a class="btn btn-primary plupload" href="javascript:;" {{ 'multiple' if field_schema.type == 'array' }}
           data-token="{{ '{{ upload_config.token }}' }}"
           data-upload="{{ '{{ upload_config.endpoint }}' }}"
           data-max="{{ '{{ upload_config.max }}' }}"
           data-preview=''
           data-filters='{"mime_types":"{{ '{{' }} upload_config.mimes|join(", ") {{ '}}' }}"}'
           data-hiddens="{{ hiddens|join(',') }}">Choose File...</a>
        <small class="form-text">Support {{ '{{' }} upload_config.mimes|join(', ') {{ '}}' }}.
        </small>
        <div class="plupload-input-result file-input-result mt-1 clearfix">
            {% if field_schema.type == 'array' %}
                {% if jschema['items'].type == 'object' %} {# object array #}
                    {{ '{%' }} for e in {{ field_path }} {{ '%}' }}
                    {% call(k) render_file(hiddens) -%}
                        {{ '{{' }} e['{{ k }}'] {{ '}}' }}
                    {%- endcall %}
                    {{ '{%' }} endfor {{ '%}' }}
                {% else %} {# string array #}
                    {{ '{%' }} for e in {{ field_path }} {{ '%}' }}
                    {{ '{%' }} set file_obj = {'name': e|basename, 'url': {{ e }} } {{ '%}' }}
                    {% call(k) render_file(hiddens) -%}
                        {{ '{{' }} file_obj['{{ k }}'] {{ '}}' }}
                    {%- endcall %}
                    {{ '{%' }} endfor {{ '%}' }}
                {% endif %}
            {% else %}
                {{ '{%' }} if {{ field_path }} {{ '%}' }}
                {{ '{%' }} set file_obj = {'name': {{ field_path }}|basename, 'url': {{ field_path }} }{{ '%}' }}
                {% call(k) render_file(hiddens) -%}
                    {{ '{{' }} file_obj['{{ k }}'] {{ '}}' }}
                {%- endcall %}
                {{ '{%' }} endif {{ '%}' }}
            {% endif %}
        </div>
    </div>
</div>

{% macro render_file(hiddens) %}
    <div class="file uploaded d-flex justify-content-start align-items-center">
        <div class="mr-3">{{ caller('name') }}</div>
        <div><a href="javascript:;" onclick="$(this).closest('.file').remove();">x</a></div>
        {% for k in hiddens %}
            <input type="hidden" name="{{ k }}" value="{{ caller(k) }}">
        {% endfor %}
    </div>
{% endmacro %}